{% extends 'base.html' %}

<!--模板继承base.html-->

{% block main %}

	{% if error_msg %}
    	<p>{{ error_msg }}</p>
	{% endif %}
	{% for post in post_list %}
		<article class="blog-post">

			{% if post.imageurl %}
				<div class="blog-post-image" >
					<a href="{{ post.get_absolute_url }}" ><img src="{{ post.imageurl }}" alt=""></a>
				</div>
			{% else %}
				<div></div>
			{% endif %}

			<div class="blog-post-body">
				<h2><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h2>
				<div class="post-meta"><span>by <a href="{% url 'one:about' %}"> {{ post.author }} </a></span>/<span><i class="fa fa-clock-o"></i><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time> </span>/<span><i class="fa fa-comment-o"></i> <a href="{{ post.get_absolute_url }}">{{ post.views }}</a></span></div>
				<p> {{  post.excerpt }} </p>
				<div class="read-more"><a href="{{ post.get_absolute_url }}">Continue Reading</a></div>
			</div>
		</article>
	{% empty %}
		<div class="no-post">暂时还没有新发布!</div>
	{% endfor %}



	<div class="col-md-4 sidebar-gutter" style="margin-left: 58%">

		{% if is_paginated %}

		{% if page_obj.has_previous %}
    		<!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
    		<a href="?page={{ page_obj.previous_page_number }}">上一页</a>
		{% endif %}
  			<span class="current">
    		<!-- 显示当前页面信息 -->
    		第 {{ page_obj.number }} 页 / 共 {{ page_obj.paginator.num_pages }} 页
  			</span>
		{% if page_obj.has_next %}
    		<!-- 如果当前页还有上下页，显示一个下一页的按钮 -->
    		<a href="?page={{ page_obj.next_page_number }}">下一页</a>
		{% endif %}
		{% endif %}
	</div>

{% endblock main %}



